:root {
    --preto: #305c9c;
    --branco: white;
}

header {

    background-color: var(--preto);
    padding: 10px;
}

.lupa {

    background-color: white;
    padding: 17px;
    border-radius: 30px;
    align-items: center;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


button svg {

    width: 25px;
    height: 25px;

}

button {

    border-radius: 28px;
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--preto);
    fill: var(--branco);
    position: relative;
    border: 2px solid white;
    cursor: pointer;
}


button:hover {

    fill: rgb(243, 239, 239)
}

span {

    position: absolute;
    right: -11px;
    top: -7px;
    border-radius: 20px;
    background-color: red;
    color: var(--branco);
    padding: 5px;
    font-family: ubuntu;
    font-weight: bolder;

}

.container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 30px;
    padding-top: 15px;
    padding: 25px;

}

.container2 {

    display: flex;
    gap: 15px;

}

.tags {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.seta {

    position: absolute;
    right: -1px;
    bottom: -3px;
    border-radius: 20px;
    background-color: #777474;
    width: 15px;
    height: 15px;
    padding: 3px;

}